@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate {
    animation: spin 12s linear infinite;
}
/* 
 */
/* scroll */
* {
    scrollbar-width: thin;
    scrollbar-color: #1681ff #ffd234;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffd234;
}

*::-webkit-scrollbar-thumb {
    background-color: #1681ff;
    border-radius: 20px;
    border: 0px solid #ffd234;
}
/* select text */
::-moz-selection {
    /* Code for Firefox */
    color: #1681ff;
    background: #ffd234;
}

::selection {
    color: #1681ff;
    background: #ffd234;
}

/* 
   */
/*  */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.char,
.sepa {
    font-size: 4rem;
}
.charMd,
.sepaMd {
    font-size: 2rem;
}
.charMini,
.sepaMini {
    font-size: 2rem;
}
